<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    <div class="footer__container">
      <p class="license">
        <small>
          Salvo que se indique lo contrario, el contenido de este sitio está bajo una
          <a href="https://creativecommons.org/licenses/by-sa/4.0/"
          target="_blank">licencia Creative Commons Atribución-CompartirIgual 4.0
          Internacional (CC BY-SA 4.0)</a>. Puedes <a
          href="https://dergigi.com/support">mostrar tu apoyo</a> y
          <a href="https://github.com/recursos-bitcoin/recursos-bitcoin.github.io/blob/master/CONTRIBUTING.md">contribuir</a>
          de muchas formas.
        </small>
      </p>
      {% include social.html %}
      <p class="sister_projects">
        <small>
          Proyectos hermanos:
          {% for proj in site.data.projects %}
          {% if site.code == proj.code %}{% continue %}{% endif %}
          <a href="{{ proj.link }}">{{ proj.name }}</a> ·
          {% endfor %}
          y <a href="https://dergigi.com/projects">más…</a>
        </small>
      </p>
      <p class="license">
        <small>
          Hecho con 🧡 por <a href="https://dergigi.com">Gigi</a>
        </small>
      </p>
    </div>
  </div>

  <div style="display:flex; justify-content: center; padding: 16px 0;">
    <div id='frame' style='width:320px;'>
        <iframe data-aa='2322538' src='//ad.a-ads.com/2322538?size=320x50' style='width:320px; height:50px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
        <a style='display: block; text-align: right; font-size: 12px' id='preview-link' href='https://a-ads.com/?partner=2322538'>Anúnciate aquí</a>
    </div>
  </div>
</footer>

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
